body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 40%;
    padding: 0;
    text-align: center;
    
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
  }
  
  .signUp div {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signUp h1 {
    font-family: 'Georgia', serif;
    color: #333;
    margin-bottom: 10px;
  }
  
  .signUp h2 {
    font-family: 'Georgia', serif;
    color: #666;
    margin-bottom: 20px;
  }
  
  .signUp form {
    display: flex;
    flex-direction: column;
  }
  
  .signUp input[type="text"],
  .signUp input[type="email"],
  .signUp input[type="number"],
  .signUp input[type="password"],
  .signUp select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signUp button[type="submit"] {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signUp button[type="submit"]:hover {
    background-color: #ff6347;
  }
  
  .signUp p {
    margin-top: 20px;
    color: #333;
  }
  
  .signUp a {
    color: #ff7f50;
    text-decoration: none;
  }
  
  .signUp a:hover {
    text-decoration: underline;
  }
  
  .table-container {
    margin: 20% auto;
    width: 80%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  
  button:hover {
    background-color: #ff6347;
  }
  
  h4 {
    font-family: 'Georgia', serif;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-family: 'Arial', sans-serif;
    color: #666;
    margin-bottom: 20px;
  }
