nav {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
}

nav a:hover,
nav a:active{
  color: #7c7d97 ;
}

nav button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

nav button:hover {
  background-color: #444;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

main {
  display: block;
  padding: 20px;
  margin-top: 60px;
  flex: 1;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}
/*login*/


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}


form {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #7c7d97;
}

input[type="email"], input[type="password"],input[type="text"] {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

.error {
  color: red;
}

.login-link {
  text-decoration: none;
  color: #333;
}

.login-link:hover {
  color: #444;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* home */
.home-page h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 3rem;
  font-family: 'Times New Roman';
}

.home-page p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  font-family: 'Times New Roman';
  margin-bottom: 1px;
}

.search-bar {
  background-color: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.search-dropdowns {
  display: flex;
  justify-content: space-between;
}

.search-dropdowns select {
  width: 50%;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #3a2f2f;
  border-radius: 5px;
}

#search-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #555;
  scale: 1.05;
}

.explore-listings {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.explore-listings button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.explore-listings button:hover {
  background-color: #444;
}


/*file-upload*/

.file-upload-container {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #332e2e;
  border-radius: 10px;
  margin-top: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
  
}

.file-upload-container h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 8px;
  color: #333;
}

.file-upload-container input[type="file"] {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  
}

.file-upload-container button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.file-upload-container button:hover {
  background-color: #444;
}

.form-group {
  margin-bottom: 6px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.form-group input[type="text"] {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.progress-container {
  margin-top: 20px;
}

.progress-container progress {
  width: 97%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.progress-container p {
  font-size: 16px;
  color: #333;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 20px;
}



/* contact form */
.contact-form {
  position: relative;
  width: 70%;
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input, .contact-form textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.contact-form textarea{
  min-height: 10rem;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  border-color: #aaa;
}

.contact-form button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  background-color: #444;
}
